option_settings:
    aws:elasticbeanstalk:application:environment:
        NODE_ENV: 'production'
        product: 'https://ksasg882n4.execute-api.eu-west-1.amazonaws.com/dev/products'
        cart: 'http://laziriti-cart-api-develop.eu-west-1.elasticbeanstalk.com/api/profile/cart'
        createProducts: 'https://ksasg882n4.execute-api.eu-west-1.amazonaws.com/dev/createProduct'
